*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# Local configuration
release.keystore.properties
secrets.properties
google-services.json
